*.dll
*.ignore.jar
*.mp4
*.so
/astralsorcery
/crash-reports
/journeymap
/local
/logs
/resourcepacks
/saves
/screenshots
/server-resource-packs
/texturepacks
BotaniaVars.dat
icon.png
options.txt
optionsof.txt
realms_persistence.json
servers.dat
usercache.json
usernamecache.json
xaero*.txt